<!-- The sidebar -->
<div class="sidebar">
    <a href="dashboard"><img src="../../../assets/images/blackhome.svg" alt=""></a>
    <a href="dashboard-food"><img src="../../../assets/images/blackpizza.svg" alt=""></a>
    <a href="dashboard-drinks"><img src="../../../assets/images/blackdrink.svg" alt=""></a>
    <a class="active" href="dashboard-offers"><img src="../../../assets/images/whiteoffer.svg" alt=""></a>
</div>

<!-- Add Food -->
<!-- <div class="accordion" id="accordionEdit">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button id="add-edit" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Add Offer
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionEdit">
      <div class="accordion-body">
        <app-add-offer></app-add-offer>
      </div>
    </div>
  </div>
</div> -->
<div id="test" class="container d-flex mt-4 align-items-center ">
  <h1 id="dashboard">Dashboard</h1>
  <a href="add-offer"><img src="../../../assets/images/addbox1.svg" alt=""></a>
  </div>
<!-- Page content -->
<div class="container">
    <div class="row">
  
      <div class="col-lg-4">
        <div id="card">
          <div id="title" class="DashboardOfferAny">Offers</div>
          <div>
            <div *ngFor="let o of offer">
              <app-dashboard-offer [dashboardoffer]="o" (deleteEvent)="deleteOffer($event)"></app-dashboard-offer>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>