<!-- The sidebar -->
<div class="sidebar">
    <a href="dashboard">Home</a>
    <a href="dashboard-food">Food</a>
    <a href="dashboard-drinks">Drinks</a>
    <a class="active" href="dashboard-offers">Offers</a>
</div>

<!-- Page content -->
<div class="container">
    <div class="row">
  
      <div class="col">
        <div id="card">
          <div id="title" class="DashboardOfferAny">Offers</div>
          <div>
            <div *ngFor="let o of offer">
              <app-dashboard-offer [dashboardoffer]="o"></app-dashboard-offer>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>