<!-- The sidebar -->
<div class="sidebar">
    <a class="active" href="dashboard"><img src="../../../assets/images/whitehome.svg" alt=""></a>
    <a href="dashboard-food"><img src="../../../assets/images/blackpizza.svg" alt=""></a>
    <a href="dashboard-drinks"><img src="../../../assets/images/blackdrink.svg" alt=""></a>
    <a href="dashboard-offers"><img src="../../../assets/images/blackoffer.svg" alt=""></a>
</div>

<!-- Page content -->
<div class="content">
    <p>Dashboard works</p>
</div>
