<div class="container">
    <div class="line" *ngIf="dashboardwines.category.name === 'Wines'">
    
      <div>
        <h4 id="title">{{ dashboardwines.name }}</h4>
        <a routerLink="/drink/{{dashboardwines.drink_id}}" [ngStyle]="{'display': DashboardWinesAny === true ? '': 'none'}">
        <button id="edit" type="submit" value={{dashboardwines.drink_id}}>Edit</button></a>
        <a routerLink="/drink/{{dashboardwines.drink_id}}" [ngStyle]="{'display': DashboardWinesAny === true ? '': 'none'}">
        <button id="delete" type="submit" value={{dashboardwines.drink_id}}>Delete</button></a>       
      </div>
         
    </div>
</div>
