<!-- The sidebar -->
<div class="sidebar">
    <a href="dashboard"><img src="../../../assets/images/blackhome.svg" alt=""></a>
    <a href="dashboard-food"><img src="../../../assets/images/blackpizza.svg" alt=""></a>
    <a class="active" href="dashboard-drinks"><img src="../../../assets/images/whitedrink.svg" alt=""></a>
    <a href="dashboard-offers"><img src="../../../assets/images/blackoffer.svg" alt=""></a>
</div>

<!-- Add Food -->
<!-- <div class="accordion" id="accordionEdit">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button id="add-edit" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Add Drink
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionEdit">
      <div class="accordion-body">
        <app-add-drink></app-add-drink>
      </div>
    </div>
  </div>
</div> -->

<div id="test" class="container d-flex mt-4 align-items-center ">
  <h1 id="dashboard">Dashboard</h1>
  <a href="add-drink"><img src="../../../assets/images/addbox1.svg" alt=""></a>
  </div>

<!-- Page content -->
<div class="container">
    <div class="row">
  
      <div class="col-sm-12 col-lg-4 test12">
        <div id="card">
          <div id="title" class="DashboardBeersAny">Beers</div>
          <div>
            <div *ngFor="let d of drink">
              <app-dashboard-beers [dashboardbeers]="d" (deleteEvent)="deleteBeer($event)"></app-dashboard-beers>
            </div>
          </div>
        </div>
      </div>
      
       <div class="col-sm-12 col-lg-4 test12">
        <div id="card">
          <div id="title" class="DashboardWinesAny">Wines</div>
          <div>
            <div *ngFor="let d of drink">
              <app-dashboard-wines [dashboardwines]="d" (deleteEvent)="deleteWine($event)"></app-dashboard-wines>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4 test12">
        <div id="card">
          <div id="title" class="DashboardCocktailsAny">Cocktails</div>
          <div>
            <div *ngFor="let d of drink">
              <app-dashboard-cocktails [dashboardcocktails]="d" (deleteEvent)="deleteCocktail($event)"></app-dashboard-cocktails>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>