<!-- The sidebar -->
<div class="sidebar">
  <a href="dashboard">Home</a>
  <a class="active" href="dashboard-food">Food</a>
  <a href="dashboard-drinks">Drinks</a>
  <a href="dashboard-offers">Offers</a>
</div>

<!-- Page content -->
<div class="container">
  <div class="row">

    <div class="col">
      <div id="card">
        <div id="title" class="DashboardAppetizersAny">Appetizers</div>
        <div>
          <div *ngFor="let f of food">
            <app-dashboard-appetizer [dashboardappetizers]="f"></app-dashboard-appetizer>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div id="card">
        <div id="title" class="DashboardMainsAny">Mains</div>
        <div>
          <div *ngFor="let f of food">
            <app-dashboard-mains [dashboardmains]="f"></app-dashboard-mains>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div id="card">
        <div id="title" class="DashboardBreakfastsAny">Breakfasts</div>
        <div>
          <div *ngFor="let f of food">
            <app-dashboard-breakfasts [dashboardbreakfasts]="f"></app-dashboard-breakfasts>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div id="card">
        <div id="title" class="DashboardDessertsAny">Desserts</div>
        <div>
          <div *ngFor="let f of food">
            <app-dashboard-desserts [dashboarddesserts]="f"></app-dashboard-desserts>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
