<!-- The sidebar -->
<div class="sidebar">
  <a href="dashboard">Home</a>
  <a class="active" href="dashboard-food">Food</a>
  <a href="dashboard-drinks">Drinks</a>
  <a href="dashboard-offers">Offers</a>
</div>

<!-- Page content -->


<div class="content">
  <div id="title">Appetizers</div>
  <div class="DashboardAppetizersAny">
    <div class="" *ngFor="let f of food">
      <app-dashboard-appetizer [dashboardappetizers]="f"></app-dashboard-appetizer>
    </div>
  </div>
</div>

<div class="content">
  <div id="title">Mains</div>
  <div class="DashboardMainsAny">
    <div class="" *ngFor="let f of food">
      <app-dashboard-mains [dashboardmains]="f"></app-dashboard-mains>
    </div>
  </div>
</div>

<div class="content">
  <div id="title">Breakfasts</div>
  <div class="DashboardBreakfastsAny">
    <div class="" *ngFor="let f of food">
      <app-dashboard-breakfasts [dashboardbreakfasts]="f"></app-dashboard-breakfasts>
    </div>
  </div>
</div>

<div class="content">
  <div id="title">Desserts</div>
  <div class="DashboardDessertsAny">
    <div class="" *ngFor="let f of food">
      <app-dashboard-desserts [dashboarddesserts]="f"></app-dashboard-desserts>
    </div>
  </div>
</div>

