.header {
    text-align: center;
    color: rgb(41, 41, 41);
    padding: 2.5rem;
}

hr {
    position: relative;
    border: none;
    height: 0.75rem;
    background: rgb(0, 0, 0);
    margin-bottom: 3.125rem;
}

#card {
    margin-top: 1.875rem;
    background: #FFFFFF;
    border: 0.125rem solid #000000;
    border-radius:1.188rem;
    width: 40rem;
}

#title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3.063rem;
    line-height: 3.75rem;
    text-align: center;
    color: #000000;
    margin-bottom: 1.563rem;
}

@media only screen and (max-width:700px) {
    #card{
        width: 25rem;
    }
}

@media only screen and (max-width:500px) {
    #card{
        width: 18.75rem;
    }
}
@media only screen and (max-width:358px) {
    #card{
        width: 15.625rem;
    }
}