<div class="container">
  <div class="line" *ngIf="mains.category.name === 'Mains'">
  
    <div >
      <h4 id="title">{{ mains.name }}</h4>
      <a routerLink="/food/{{mains.food_id}}" [ngStyle]="{'display': test === true ? '': 'none'}">
      <button type="submit" value={{mains.food_id}} >Edit </button></a>        
    </div>
  
    <div>
      <span id="price">{{ mains.price }}$</span><br>
      <span id="description">{{ mains.description }}</span><br>
      <span id="ingredients">Ingredients: {{ mains.ingredients }}</span>
    </div>
    
  </div>
</div>