<h1 class="success">Edit Food</h1>

  



<form [formGroup]="editFoodForm">

    <div class="form-group">
        <label class="form-label">Food List</label>
        <select class="form-select" formControlName="food_id" placeholder="foodList">
            <option value={{f.food_id}} *ngFor="let f of food"  >
                {{f.name}}
                
            </option>
            
        </select>    
    </div>

    <div class="form-group">
        <input matInput type="text" class="form-control" formControlName="name" placeholder="Name">
    </div>

    <div class="form-group">
        <input matInput type="text" class="form-control" formControlName="description" placeholder="Description">
    </div>

    <div class="form-group">
        <input matInput type="text" class="form-control" formControlName="price" placeholder="Price">
    </div>

    <div class="form-group">
        <label class="form-label">Category</label>
        <select class="form-select" formControlName="category_id" placeholder="Category">
            <option value="1">Main</option>
            <option value="2">Appetizer</option>
            <option value="3">Dessert</option>
            <option value="7">Breakfast</option>
        </select>    
    </div>

    <div class="form-group">
        <input matInput type="text" class="form-control" formControlName="ingredients" placeholder="Ingredients">
    </div>

    <button type="submit" class="button" (click)="editFood()">Submit</button>
</form>