.container {
    // width: 613px;
    // height: 762px;
    // left: 330px;
    // top: 775px;
    margin-top: 30px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 19px;
    width: 1000px;
}

#title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
    padding-top: 10px;
}
