img {
    width: 35.313rem;
    height: 24.125rem;
    margin-top: 6.25rem;
}

#subtitle {
    width: 15.625rem;
    height: 2.25rem;
    margin-top: 8.75rem;
    margin-left: 1.25rem;
    margin-bottom: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 0.085em;
    color: rgba(15, 7, 7, 0.51);
}

#title {
    width: 28.938rem;
    height: 11.875rem;
    margin-left: 1.25rem;
    margin-top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 3.188rem;
    line-height: 4.75rem;
    letter-spacing: 0.085em;
    color: #000000;
}

#homebutton {
    width: 14.625rem;
    height: 4.438rem;
    margin-left: 1.25rem;
    margin-top: 3.125rem;
    border: 1px solid #2EC4B6;
    background: #2EC4B6;
    border-radius: 2.219rem;
}

#hometextbutton {
    width: 7.938rem;
    height: 2.375rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.085em;
    text-decoration: none;
    color: #FFFFFF;
}

#greybox {
    box-sizing: border-box;
    position: fixed;
    width: 50%;
    height: 499px;
    left: 0px;
    top: 807px;
    background: #DFE4E4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#greenbox {
    position: fixed;
    width: 50%;
    height: 499px;
    left: 50%;
    top: 807px;
    background: #2EC4B6;
}

#contactusbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    
    position: absolute;
    width: 320px;
    height: 123px;
    left: 1292px;
    top: 985px;
    
    border: 4px solid #FFFFFF;
    border-radius: 74px;
}



#contactustext {
    width: 350px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    /* identical to box height */

    letter-spacing: 0.085em;
    text-decoration: none;
    color: #FFFFFF;
}

#location {
    position: absolute;
    width: 166px;
    height: 40px;
    left: 375px;
    top: 50px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.085em;

    color: #000000;
}

#address {
    position: absolute;
    width: 621px;
    height: 128px;
    left: 144px;
    top: 110px;
    text-align: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.085em;

    color: #000000;
}

#phonenumber {
    position: absolute;
    width: 621px;
    height: 128px;
    left: 144px;
    top: 150px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.085em;

    color: #000000;
}

#emailaddress {
    position: absolute;
    width: 621px;
    height: 128px;
    left: 144px;
    top: 190px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.085em;

    color: #000000;
}

#hours {
    position: absolute;
    width: 166px;
    height: 40px;
    left: 375px;
    top: 300px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.085em;

    color: #000000;
}

#hours1 {
    position: absolute;
    width: 629px;
    height: 95px;
    left: 144px;
    top: 360px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.085em;
    
    color: #000000;
}

#hours2 {
    position: absolute;
    width: 629px;
    height: 95px;
    left: 144px;
    top: 400px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.085em;
    
    color: #000000;
}


/* @media (max-width: ) */