<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm p-0">
                <p id="subtitle">Award winning brewery</p>
                <p id="title">We make the best handcraft beer in Alberta</p>
                <button id="homebutton"><a href="drinks" id="hometextbutton">Our Beer</a></button>
            </div>
            <div class="col-sm p-0">
                <img src="https://images.unsplash.com/photo-1532634922-8fe0b757fb13?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172"
                    alt="">
            </div>
        </div>
    </div>
    
    
    
    <div class="row">
    
        <div class="col-sm p-0">
            <section id="greybox" class="d-flex flex-column align-items-center justify-content-center">
                <p id="location" class="">Location</p> 
                <p id="address" class="m-0">3129 17 Ave SW, Calgary, AB, T3E 0B6</p>
                <p id="phonenumber"class="m-0"><strong>Phone</strong>: 403-930-0000</p>
                <p id="emailaddress" class="m-0"><strong>Email</strong>: info@KBrestaurant.com</p>
                <div id="hours" class="mb-0 ">Hours</div>  
                <div id="hours1" class="m-0 mt-2">SUNDAY - THURSDAY 11:30AM - 12:00AM</div>
                <div id="hours2" class="m-0">FRIDAY- SATURDAY 11:30AM - 1:00AM</div>   
            </section>
        </div>
    
        <div class="col-sm p-0">
            <div id="greenbox" class="d-flex flex-column align-items-center justify-content-center">
                <div id="contactusbutton">
                    <a href="review" id="reviewtext">Review Us</a>
                    <a id="bar">▒</a>
                    <!-- <a id="bar"></a> -->
                    <a href="contactus" id="contactustext">Contact Us</a>
                </div> 
            </div>
           
        </div>
    </div>
</body>
</html>


<!-- <div class="container">
    <div class="row">
        <div class="col-sm p-0">
            <p id="subtitle">Award winning brewery</p>
            <p id="title">We make the best handcraft beer in Alberta</p>
            <button id="homebutton"><a href="drinks" id="hometextbutton">Our Beer</a></button>
        </div>
        <div class="col-sm p-0">
            <img src="https://images.unsplash.com/photo-1532634922-8fe0b757fb13?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172"
                alt="">
        </div>
    </div>
</div>



<div class="row">

    <div class="col-sm p-0">
        <section id="greybox" class="d-flex flex-column align-items-center justify-content-center">
            <p id="location" class="mt-5">Location</p> 
            <p id="address" class="m-0">3129 17 Ave SW, Calgary, AB, T3E 0B6</p>
            <p id="phonenumber"class="m-0"><strong>Phone</strong>: 403-930-0000</p>
            <p id="emailaddress" class="m-0"><strong>Email</strong>: info@KBrestaurant.com</p>
            <div id="hours" class="mb-0 mt-3">Hours</div>  
            <div id="hours1" class="m-0 mt-2">SUNDAY - THURSDAY 11:30AM - 12:00AM</div>
            <div id="hours2" class="m-0">FRIDAY- SATURDAY 11:30AM - 1:00AM</div>   
        </section>
    </div>

    <div class="col-sm p-0">
        <div id="greenbox" class="d-flex flex-column align-items-center justify-content-center">
            <div id="contactusbutton">
                <a href="review" id="reviewtext">Leave a Review</a>
                <a id="bar">▒</a>
                <a href="contactus" id="contactustext">Contact Us</a>
            </div> 
        </div>
       
    </div>
</div> -->
