img {
    position: absolute;
    width: 565px;
    height: 386px;
    left: 971px;
    top: 227px;
}

#subtitle {
    position: absolute;
    width: 460px;
    height: 36px;
    left: 323px;
    top: 263px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.085em;

    color: rgba(15, 7, 7, 0.51);
}

#title {
    position: absolute;
    width: 463px;
    height: 206px;
    left: 323px;
    top: 291px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 51px;
    line-height: 76px;
    letter-spacing: 0.085em;

    color: #000000;
}

#homebutton {
    position: absolute;
    width: 234px;
    height: 71px;
    left: 327px;
    top: 542px;

    background: #2EC4B6;
    border-radius: 35.5px;
}

#hometextbutton {
    position: absolute;
    width: 127px;
    height: 38px;
    left: 381px;
    top: 559px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.085em;
    text-decoration: none;

    color: #FFFFFF;
}

#greybox {
    box-sizing: border-box;

    position: absolute;
    width: 1917px;
    height: 499px;
    left: 0px;
    top: 807px;

    background: #DFE4E4;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#greenbox {
    position: absolute;
    width: 976px;
    height: 499px;
    left: 959px;
    top: 807px;

    background: #2EC4B6;
}

#contactusbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 46px 46px;
    gap: 10px;

    position: absolute;
    width: 310px;
    height: 123px;
    left: 1292px;
    top: 985px;

    border: 4px solid #FFFFFF;
    border-radius: 74px;

    // text css

}

#contactustext {
    width: 220px;
    height: 48px;    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    
    /* identical to box height */

    letter-spacing: 0.085em;
    text-decoration: none;
    color: #FFFFFF;
}