
<div class="container">

<p id="subtitle">Award winning brewery</p>
<p id="title">We make the best handcraft beer in Alberta</p>
<div id="homebutton">   
</div>
<a href="#" id="hometextbutton">Our Beer</a>

</div>
<img src="https://images.unsplash.com/photo-1532634922-8fe0b757fb13?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172" alt="">

<div id="greybox">    
</div>
<div id="greenbox"></div>
<div id="contactusbutton">    
    <p id="contactustext">Contact Us</p>
</div>


<!-- <app-contactus></app-contactus> -->
