img {
    max-width: 100%;
    height: auto;
    // width: 35.313rem;
    // height: 24.125rem;
    margin-top: 6.25rem; 
}

#subtitle {
    width: 100;
    height: 100;
    margin-top: 8.75rem;
    margin-left: 1.25rem;
    margin-bottom: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 0.085em;
    color: rgba(15, 7, 7, 0.51);
}

#title {
    width: 56.41387406616862vh;
    height: 11.875rem;
    margin-left: 1.25rem;
    margin-top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 5.44290288153682vh;
    line-height: 4.75rem;
    letter-spacing: 0.085em;
    color: #000000;
}

#homebutton {
    width: 14.625rem;
    height: 4.438rem;
    margin-left: 1.25rem;
    margin-top: 3.125rem;
    border: 1px solid #2EC4B6;
    background: #2EC4B6;
    border-radius: 2.219rem;
}

#hometextbutton {
    width: 7.938rem;
    height: 2.375rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.085em;
    text-decoration: none;
    color: #FFFFFF;
}

#greybox {    
    margin-top: 200px;       
    height: 53.25vh;
    padding: 0px;    
    background: #DFE4E4; 
}

#greenbox {
    box-sizing: border-box;
    margin-top: 200px;
    // position: fixed;
    // width: 50%;
    height: 53.25vh;
    left: 50%;
    top: 807px;
    background: #2EC4B6;
}

#contactusbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;

   
    width: 320px;
    height: 123px;
   

    border: 4px solid white;
    border-radius: 74px;
}

#contactustext {
    width: 350px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    /* identical to box height */

    letter-spacing: 0.085em;
    text-decoration: none;
    color: #FFFFFF;
}

#location {    
    width: 100;
    height: 100;     
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3.4151547491995733vh;
    line-height: 5.122732123799359vh;
    letter-spacing: 0.085em;
    color: #000000;
}

#address {    
    width: 100;
    height: 100;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.774813233724653vh;
    line-height: 4.482390608324439vh;
    letter-spacing: 0.085em;
    color: #000000;
}

#phonenumber {    
    width:100;
    height: 100;    
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.774813233724653vh;
    line-height: 4.482390608324439vh;
    letter-spacing: 0.085em;
    color: #000000;
}

#emailaddress {    
    width: 100;
    height: 100;    
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.774813233724653vh;
    line-height: 4.482390608324439vh;
    letter-spacing: 0.085em;
    color: #000000;
}

#hours {    
    width: 100;
    height: 100;    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3.4151547491995733vh;
    line-height:  5.122732123799359vh;
    letter-spacing: 0.085em;
    color: #000000;
}

#hours1 {    
    width: 100;
    height: 100;    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.9882604055496267vh;
    line-height: 4.482390608324439vh;
    letter-spacing: 0.085em;

    color: #000000;
}

#hours2 {    
    width: 629px;
    height: 95px;    
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.9882604055496267vh;
    line-height: 4.482390608324439vh;
    letter-spacing: 0.085em;

    color: #000000;
}

@media only screen and (max-width: 600px) {
    img{
        width: 100%;
    }
    
    #greybox{
        width: 100%;
        margin: 0px;
        margin-top: 40px ;
    }
    #greenbox{
        width: 100%;
        margin: 0px;
    }

    #contactusbutton, #contactustext{
        color: #000000;
    }
    #title{
        width: 360px;
        font-size: 30px;
        text-align: left;
        margin: 0%;
        line-height: 50px;
        letter-spacing: 0.085em;
    }
    #address{
        font-size: 18px;
    }
    #phonenumber{
        font-size: 18px;
    }
    #emailaddress{
        font-size: 18px;
    }
    #hours1{
        font-size: 17px;
    }
    #hours2{
        font-size: 17px;
    }
    #subtitle{
        margin:0px;
        margin-top: 40px;
        text-align: center;
    }
   
  }