#navbar {
    background: rgb(255, 255, 255);
   width: 100%;
}

#name {
    color: #2EC4B6;
    font-weight: bold;
    font-size: 1.875rem;
}

a {
    color: rgb(0, 0, 0);
    padding: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
}

.active {
    color: #2EC4B6 !important;
    text-decoration: underline;
}

.login{
    
    
    margin-left: 127%;
    align-items: center;
}

.test{
    padding: 0px;
}
.test1{
    height: 24px;
}


@media only screen and (min-width:1950px) and (max-width:2300px) {

    .login{
        margin-left: 91%;
    }

}
@media only screen and (min-width:1700px) and (max-width:1950px) {

    .login{
        margin-left: 91%;
    }

}
@media only screen and (min-width:1400px) and (max-width:1700px) {

    .login{
        margin-left: 92%;
    }

}
@media only screen and (min-width:1200px) and (max-width:1399px) {

    .login{
        margin-left: 60%;
    }

}
@media only screen and (min-width:451px) and (max-width:1199px) {

    .login{
        margin-left: 15px;
    }

}

