#navbar {
    background: rgb(255, 255, 255);
   width: 100%;
}

#name {
    color: #2EC4B6;
    font-weight: bold;
    font-size: 1.875rem;
}

a {
    color: rgb(0, 0, 0);
    padding: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
}

.active {
    color: #2EC4B6 !important;
    text-decoration: underline;
}