#navbar {
    background: rgb(255, 255, 255);
    padding-left: 200px;
}

#name {
    color: rgb(0, 221, 221);
    font-weight: bold;
    font-size: 40px;
}

a {
    color: rgb(0, 0, 0);
    padding: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
}

.active {
    color: #2EC4B6 !important;
    text-decoration: underline;
}