#navbar {
    background: rgb(255, 255, 255);
    padding-left: 200px;
}

#name {
    color:rgb(0, 221, 221);
    font-weight: bold;
}

a {
    color: rgb(0, 0, 0);
    padding: 20px;
}

.active{
    color: rgb(0, 221, 221) !important;
}

