<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">K&B Restaurant</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="food" routerLinkActive="active">Food</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="drinks" routerLinkActive="active">Drinks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="offers" routerLinkActive="active">Offers</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
