<nav class="navbar navbar-expand-xl  " id="navbar">

  <div class="container">

    <a class="navbar-brand" id="name">K&B Restaurant</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="food" routerLinkActive="active">Food</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="drinks" routerLinkActive="active">Drinks</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="offers" routerLinkActive="active">Offers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>
        </li>

        <li class="nav-item" [ngStyle]="{'display': test === true ? '': 'none'}">
          <a class="nav-link" routerLink="add-drink" routerLinkActive="active">Edit</a>
        </li>        
        
        <li class=" d-flex login nav-item">
          <img class="test1" src="../../../assets/images/User.svg" alt="accounticon" [ngStyle]="{'background-color': test === true ? '#2EC4B6': ''}" >
          <a class="nav-link test " routerLink="login" routerLinkActive="active" [ngStyle]="{'display': test === true ? 'none': ''}">Login</a>
          <a class="nav-link test " href="javascript:void(0)" (click)="logout()" [ngStyle]="{'display': test === true ? '': 'none'}">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>