#edit {
    color: #ffffff;
    border: 1px solid #2EC4B6;
    background-color: #2EC4B6;
    margin: 0px 5px 25px 5px;
    border-radius: 5px;
}

#delete {
    color: #ffffff;
    border: 1px solid #c42e2e;
    background-color: #c42e2e;
    margin: 0px 5px 25px 5px;
    border-radius: 5px;
}

.container {
    margin-top: 5px;
}