// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$KBRestaurant-primary: mat.define-palette(mat.$indigo-palette);
$KBRestaurant-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$KBRestaurant-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$KBRestaurant-theme: mat.define-light-theme((
  color: (
    primary: $KBRestaurant-primary,
    accent: $KBRestaurant-accent,
    warn: $KBRestaurant-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($KBRestaurant-theme);

@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-image: url(../src/assets/images/main-background.png);
    background-size: 100%;

}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
