.card {
    padding: 20px;
    margin-bottom: 10px;
    max-width: 750px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#description {
    font-weight: lighter;
}

#price {
    font-weight: bold;
    color: rgba(71, 71, 71, 0.8)
}

#ingredients {
    font-size: 11px;
}