<div class="container">
  <div class="line" *ngIf="appetizers.category.name === 'Appetizers'">
    
  
    <div  >
      <h4 id="title">{{ appetizers.name }}</h4>
      <a routerLink="/food/{{appetizers.food_id}}" [ngStyle]="{'display': test === true ? '': 'none'}">
      <button type="submit" value={{appetizers.food_id}} >Edit </button></a>
      
    </div>

    <div>
      <span id="price">{{ appetizers.price }}$</span><br>
      <span id="description">{{ appetizers.description }}</span><br>
      <span id="ingredients">Ingredients: {{ appetizers.ingredients }}</span>
    </div>
  
  </div>
</div>
