.food-header {
    text-align: center;
    color: rgb(41, 41, 41);
    padding: 40px;
}

hr {
    position: relative;
    border: none;
    height: 12px;
    background: rgb(41, 41, 41);
    margin-bottom: 50px;
}