<div class="container">
  <div class="row">

    <div class="col-xl-3 col-md-12">
      <div id="card">
        <div id="title">Appetizers</div>
        <div>
          <div *ngFor="let f of food">
            <app-appetizers [appetizers]="f"></app-appetizers>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-3 col-md-12">
      <div id="card">
        <div id="title">Mains</div>
        <div>
          <div *ngFor="let f of food">
            <app-mains [mains]="f"></app-mains>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-12">
      <div id="card">
        <div id="title">Breakfasts</div>
        <div>
          <div *ngFor="let f of food">
            <app-breakfasts [breakfasts]="f"></app-breakfasts>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-12">
      <div id="card">
        <div id="title">Desserts</div>
        <div>
          <div *ngFor="let f of food">
            <app-desserts [desserts]="f"></app-desserts>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
