.header {
    text-align: center;
    color: rgb(41, 41, 41);
    padding: 40px;
}

hr {
    position: relative;
    border: none;
    height: 12px;
    background: rgb(0, 0, 0);
    margin-bottom: 50px;
}

#card{
    // position: absolute;
// width: 613px;
// height: 762px;
// left: 330px;
// top: 775px;
margin-top: 30px;
background: #FFFFFF;
border: 2px solid #000000;
border-radius: 19px;
}

#Tittle{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
text-align: center;
color: #000000;
margin-bottom: 25px;
}